{% extends "bankingapp/base.html" %}

{% block navabar %}

{% endblock %}

{% block bodycontent %}


<div class="container">

     <div class="row">
       <div class="col-lg-8">
         <div class="jumbotron">
          <h1 class="display-4">XYZ Online Banking App</h1>

          <hr class="my-4">
          <p>This portal allows you to conduct most of your banking transactions such funds transfer, utility bills payment, as well as generate a list of all your transactions</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'bankingapp:signup' %}" role="button">Not registered? Sign Up</a>
          </p>
        </div>
       </div>
       <div class="col-lg-4">
         <div class="alert alert-success" role="alert">


              <p> You have been successfully logged out </p>

          </div>

         <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log in to onlinebanking </a>



       </div>
     </div>

{% endblock %}
