{% extends 'bankingapp/baseloggedin.html'%}

{% block bodycontent %}

<div class="row">
  <div class="col-lg-12">
<h2> Your Account Access Logs </h2>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>

        <th scope="col">Transaction Description</th>

      </tr>
    </thead>
    <tbody>
      {%for transfer in transfers %}
      <tr class="table-active">
        <td scope="row">{{ transfer.transferDate }}</th>

        <td>Funds Transfer to {{ transfer.transferAccount.accountID.last_name }} - Account Number {{ transfer.transferAccount.accountNumber }} </td>

      </tr>

      {% endfor %}

      {% for billpayment in billpayments %}
      <tr class="table-active">
        <td scope="row">{{ billpayment.paymentDate }}</th>

        <td>{{billpayment.billDescription }} paid to {{ billpayment.billID.companyName }} Account Number {{ billpayment.billID.companyAccountNum }} </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}
{% block blockpaginator %}
{% include "bankingapp/pagination.html" with page=logs %}

{% endblock %}
