<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Online Banking App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen">

    <link rel="stylesheet" href="{% static 'css/custom.min.css' %}">

  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="{% url 'bankingapp:index' %}" class="navbar-brand">Online Banking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">

          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="navbar-brand" href="#" target="_blank">Hello Busalire </a>
            </li>
            <li class="nav-item">
              <b class="navbar-brand">|</b>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" href="#" target="_blank">Logout</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    {% endblock %}
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          {% block sidemenu %}

          <h2> Menu </h2>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">

              <a class="nav-link" href="{% url 'bankingapp:apphome' %}">  Home </a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">

              <a class="nav-link" href="{% url 'bankingapp:fundstransactions' %}">  View Funds Transactions </a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">

              <a class="nav-link" href="{% url 'bankingapp:utilitybillstransactions' %}">  View Utility Bills Transactions </a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">

              <a class="nav-link" href="{% url 'bankingapp:monthlystatements' %}">  View Monthly Statements </a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">

              <a class="nav-link" href="{% url 'bankingapp:fundstransfer' %}">  Funds Transfer  </a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">

              <a class="nav-link" href="{% url 'bankingapp:payutilities' %}">  Pay Utility Bills </a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">

              <a class="nav-link" href="{% url 'bankingapp:updateprofile' %}"> Update Profile </a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">

              <a class="nav-link" href="{% url 'bankingapp:accesslogs' %}">  View Access Logs </a>
              <span class="badge badge-primary badge-pill">1</span>
            </li>

          </ul>

          {% endblock %}

      </div>


        <div class="col-lg-8">
          {% block bodycontent %}

          {% endblock %}

          {% block blockpaginator %}

          {% endblock %}

        </div>
      </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>



  </body>
  </html>
