<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Online Banking App {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen">

    <link rel="stylesheet" href="{% static 'css/custom.min.css' %}">

  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="{% url 'bankingapp:index' %}" class="navbar-brand">Online Banking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">

          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank"></a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    {% endblock %}


    {% block bodycontent %}

    {% endblock %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/banking-app-jquery.js' %}"></script>

  </body>
  </html>
