{% extends 'bankingapp/baseloggedin.html' %}

{% block bodycontent %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Your Bank Account Attributes</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      {% for userpersonaldetail in userpersonaldetails %}
      <tr class="table-active">
        <th scope="row">Account Holder First Name</th>
        <td>{{ userpersonaldetail.first_name }}</td>
      </tr>
      <tr class="table-active">
        <th scope="row">Account Holder Second Name</th>
        <td>{{ userpersonaldetail.last_name }}</td>
      </tr>
      {% endfor %}
      {% for useraccountdetail in useraccountdetails %}
      <tr class="table-active">
        <th scope="row">Account Type</th>
        <td> {{ useraccountdetail.accountType}} </td>
      </tr>
      <tr class="table-active">
        <th scope="row">Account Number</th>
        <td>{{ useraccountdetail.accountNumber }}</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Current Account Balance</th>
        <td><b>USD: {{ useraccountdetail.accountBalance }} </b></td>
      </tr>
      {% endfor %}


    </tbody>
  </table>
{% endblock %}
